{
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off" ,
    "react/jsx-wrap-multilines": "off",
    "react/jsx-closing-tag-location": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.test.js", "**/*test-utils*/**"
      ],
      "env": {
        "jest": true
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }, 
  "env": {
    "browser": true
  }
}